<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkNkOcmbAEolqUOZcWANe4Dm7rKgRQbcs</string>
	<key>GCM_SENDER_ID</key>
	<string>283981760852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sami.gorintest.gorintest</string>
	<key>PROJECT_ID</key>
	<string>gorin-test-sami</string>
	<key>STORAGE_BUCKET</key>
	<string>gorin-test-sami.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283981760852:ios:65596467502538f0b960c1</string>
</dict>
</plist>